<!DOCTYPE html>
<html>
<head>
	<title>awesomeContact: A contact form backend for your static site.</title>
	<!-- <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144593851-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-144593851-1');
	</script>

</head>
<body>
<div>
	<div class="flair"></div>
		<nav class="navbar">
			<h5 class="logo fw-black mt-1">awesomeContact.</h5>
			<ul class="nav-links mt-1">
				<li class="nav-item fw-medium"><a href="https://medium.com/@charleskiarie77/an-awesome-guide-to-getting-started-with-awesomecontact-471a7b68c297" target="_blank">Documentation</a></li>
				<li class="nav-item fw-medium"><a href="/billing">Billing</a></li>
				<li class="nav-item fw-medium"><a href="/logout">Log out</a></li>
			</ul>
		</nav>
</div>
<div class="container">
	<h1 class="fw-black mt-2 pb-1">Your emails.</h1>
	<% if(Object.keys(errors).length > 0) { %>
			<% for (const key of Object.keys(errors)) { %>
			    <p class="text-warning"><%=errors[key]%><p>
			<% } %>
		<% } %>

	<% emailValues.forEach(emailValue => { %>
	<form method="POST" action="/delete">
		<label><%= emailValue.emailValue %></label>
		<input type="email" name="email" value=<%= emailValue.emailValue %>>
		<button type="submit">Delete</button>
	</form>
	<p class="mt-1">Copy and add the method below to your form.</p>
	<pre><code>
action="https://awesomecontact.me/api/v1/<%= userId %>/<%= emailValue.emailValue %>"	
	</code></pre>
	<% }) %>
	<form method="POST" action="/add">
		<label>Add an email.</label>
		<input type="email" name="email" placeholder="youremail@email.com">
		<button type="submit">Add</button>
	</form>
</div>



<footer class="mt-3 text-center">
	<p>Follow us on:</p>
	<a class="link-main" href="https://twitter.com/CharlesKiarie77">Twitter</a>
	<a class="link-main" href="https://www.indiehackers.com/charleskiarie">indieHackers</a>
	<a class="link-main" href="/contact">Support</a>
	<p>&copyawesomeContact 2019</p>
</footer>
</body>